<!-- shops/templates/shops/shop_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Магазины</title>
</head>
<body>
    <h1>Список магазинов</h1>
    <ul>
        {% for shop in shops %}
        <li>
            <a href="{% url 'shop_detail' shop.id %}">
                <img src="{{ shop.image.url }}" alt="{{ shop.name }}" style="width:100px;height:100px;">
                <h2>{{ shop.name }}</h2>
            </a>
            <p>{{ shop.address }}</p>
            <p>{{ shop.description }}</p>
            <p>Средняя оценка: {{ shop.average_rating }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>