<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Board</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        img {
            width: 50px; /* Задайте размер изображения по необходимости */
        }
    </style>
</head>
<body>
    <h1>Flight Board</h1>
    <table>
        <tr>
            <th>Flight</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
        </tr>
        {% for flight in flights %}
        <tr>
            <td><img src="{{ flight.img }}" alt="logo"></td>
            <td>{{ flight.flight }}</td>
            <td>{{ flight.destination }}</td>
            <td>{{ flight.planned_date }}</td>
            <td>{{ flight.planned_time }}</td>
            <td>{{ flight.status }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
